@import '../params.scss';

.container-xl {
    .table-responsive {
        margin: 30px 0;
        .table-wrapper {        
            .table-title {
                padding-bottom: 15px;
                background: $primary-color;
                color: $secondary-color;
                padding: 16px 30px;
                min-width: 100%;
                margin: -20px -25px 10px;
                border-radius: 3px 3px 0 0;
            }
            .table-content {
                margin-top: 30px;
            }
            .table-footer {
                padding-top: 15px;
                .btn {
                    color: $secondary-color;
                    float: right;
                    font-size: 13px;
                    border: none;
                    min-width: 50px;
                    border-radius: 2px;
                    outline: none !important;
                    margin-left: 10px;
                }
            }
        }
    }
}
