<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Update SampleTask</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Back</a>
          </div>
        </div>
      </div>
      <form #sampleTaskForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Title" class="p-t-b-10">Title<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Title" required maxlength="255"
                [(ngModel)]="editSampleTaskForm.Title" name="Title" #Title="ngModel">
              <div *ngIf="Title.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Title.errors?.['required']">
                  Title is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Description" class="p-t-b-10">Description<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Description" required maxlength="255"
                [(ngModel)]="editSampleTaskForm.Description" name="Description" #Description="ngModel">
              <div *ngIf="Description.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Description.errors?.['required']">
                  Description is required
                </div>
              </div>
            </div>
          </div>         
        
           <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10">Status<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <select [(ngModel)]="editSampleTaskForm.Status" name="status" id="Status" class="form-control" #Status="ngModel">
                <option *ngFor="let status of taskStatusOptions" [ngValue]="status.value">{{ status.label }}</option>
              </select>

              
              <div *ngIf="Status.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Status.errors?.['required']">
                  Status is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="EditSampleTask(sampleTaskForm.form.valid)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>