@import '../params.scss';

.container-xl {
    width: 50%;

    .table-wrapper {
        .table-title {
            .back {
                float: right;
                text-transform: uppercase;
                font-size: 13px !important;
            }
        }
        .table-footer {
            padding-top: 10px;
            text-align: center;
            .btn {
                color: $secondary-color;
                width: 100px;
                border-radius: 2px;
                font-size: 15px !important;
                text-transform: uppercase;
            }
        }
    }
}
