@import '../params.scss';

.container-xl {
    .table-content {
        .center-align {
            text-align: center;
        }
        .delete {
            color: $error-color;
            padding: 5px;
        }
        .edit {
            color: #ffc107;
            padding: 5px;
        }
        .view {
            color: #0d6efd;
        }
    }
}
